<div class="info-bar">
	
	<h1>Dragman</h1>

	<%= link_to 'Help', "/help", :style => "color:white; text-decoration:none; margin-left:795px; margin-top:-50px; position:absolute;" %>

	<div class="score">Score: </div>

</div>

<style type="text/css">
	.info-bar{
		border: solid yellow;
		height: 50px;
		position: fixed;
		width: 1594px;
	}

	h1{
		margin-top: -4px;
		margin-left: 50px;
	}

	.score{
		border: solid green;
		float: right;
		height: 30px;
		width: 120px;
		margin-top: -55px;
		margin-right: 50px;
		font-size: 22px;
	}

</style>