<div class="info-bar">
	
	<h1>Dragman</h1>

	<%= link_to 'Help', "/help", :style => "color:white; text-decoration:none; margin-left:795px; margin-top:-50px; position:absolute;" %>

	<div class="score">Score: </div>

</div>

<div class="game-area-outline">

	<div class="game-area">
	
		<img class="drakes-head" src="https://upload.wikimedia.org/wikipedia/en/b/b9/Nothing_Was_the_Same_cover_2.png">

		<div class="note-area-outline">


		<% 20.times do %>	
			<div class="note-area">

				<% random_number_one = rand(1..2) %>
				<% random_number_two = rand(3..4) %>
				<% random_number_three = rand(5..6) %>


				<% if random_number_one == 1 %>

					<div class="music-note" id="one">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% else %>

					<div class="music-note" id="two">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% end %>


				<% if random_number_two == 3 %>

					<div class="music-note" id="three">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% else %>

					<div class="music-note" id="four">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% end %>

				<% if random_number_three == 5 %>

					<div class="music-note" id="five">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% else %>

					<div class="music-note" id="six">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% end %>

			</div>
		<% end %>
	
		</div>	

	</div>

</div>

<style type="text/css">
	.info-bar{
		border: solid #e60000;
		height: 50px;
		position: fixed;
		width: 1594px;
	}

	h1{
		margin-top: -4px;
		margin-left: 50px;
	}

	.score{
		border: solid green;
		float: right;
		height: 30px;
		width: 120px;
		margin-top: -55px;
		margin-right: 50px;
		font-size: 22px;
	}

	.game-area-outline{
		border: solid #e60000;
		height: 737px;
		position: fixed;
		margin-top: 55px;
		width: 1594px;
	}

	.drakes-head{
		height: 70px;
		width: 70px;
		border-radius: 100%;
		margin-top: 300px;
		margin-left: 100px;
		position: absolute;
	}

	.game-area{
		height: 735px;
		width: 10000px;
		position: fixed;
	}

	.note-area-outline{
		height: 732px;
		width: 100%;
		margin-left: 300px;
	}

	.note-area{
		height: 732px;
		width: 300px;
		display: inline-block;
	}

	.music-note{
		margin-left: 400px;
		position: absolute;
		margin-top: 300px;
	}

	.top-line{
		height: 10px;
		width: 80px;
		background-color: black;
	}

	.left-line{
		height: 50px;
		width: 10px;
		background-color: black;
	}

	.right-line{
		height: 50px;
		width: 10px;
		background-color: black;
		left: 70px;
		position: absolute;
		top: 10px;
	}

	.bottom-left{
		height: 30px;
		width: 30px;
		background-color: black;
		border-radius: 100%;
		margin-left: -18px;
		margin-top: -8px;
	}

	.bottom-right{
		height: 30px;
		width: 30px;
		background-color: black;
		border-radius: 100%;
		margin-left: 52px;
		margin-top: -30px;		
	}

	.obstacle{
		height: 100px;
		width: 100px;
		border: yellow solid;
		position: absolute;
	}

	#one{
		margin-top: 0px;
		margin-left: 0px;
	}

	#two{
		margin-top: 100px;
		margin-left: 120px;
	}

	#three{
		margin-top: 250px;
		margin-left: 10px;
	}

	#four{
		margin-top: 350px;
		margin-left: 50px;
	}

	#five{
		margin-top: 475px;
		margin-left: 0px;
	}

	#six{
		margin-top: 600px;
		margin-left: 100px;
	}
</style>

<script type="text/javascript">

	var main = function() {

		$('.drakes-head').draggable();

		$('.drakes-head').click(function(){
			var game = true

				$('.game-area').animate({
					left: '-5000px'
					}, 14000);

		});

	}	

	$(document).ready(main);

</script>