<div class="info-bar">
	
	<h1>Dragman</h1>

	<%= link_to 'Help', "/help", :style => "color:white; text-decoration:none; margin-left:795px; margin-top:-50px; position:absolute;" %>

	<div class="score">Score: </div>

</div>

<div class="game-area-outline">

	<div class="game-area">
	
		<img class="drakes-head" src="https://upload.wikimedia.org/wikipedia/en/b/b9/Nothing_Was_the_Same_cover_2.png">

		<div class="music-note">
			
			<div class="top-line"></div>

			<div class="left-line"></div>

			<div class="right-line"></div>

			<div class="bottom-left"></div>

			<div class="bottom-right"></div>

		</div>

	</div>

</div>

<style type="text/css">
	.info-bar{
		border: solid #e60000;
		height: 50px;
		position: fixed;
		width: 1594px;
	}

	h1{
		margin-top: -4px;
		margin-left: 50px;
	}

	.score{
		border: solid green;
		float: right;
		height: 30px;
		width: 120px;
		margin-top: -55px;
		margin-right: 50px;
		font-size: 22px;
	}

	.game-area-outline{
		border: solid #e60000;
		height: 737px;
		position: fixed;
		margin-top: 55px;
		width: 1594px;
	}

	.drakes-head{
		height: 80px;
		width: 80px;
		border-radius: 100%;
		margin-top: 300px;
		margin-left: 100px;
		position: absolute;
	}

	.game-area{
		border: solid yellow;
		height: 735px;
		width: 10000px;
		position: fixed;
	}

	.music-note{
		margin-left: 400px;
		position: absolute;
		margin-top: 300px;
	}

	.top-line{
		height: 10px;
		width: 80px;
		background-color: black;
	}

	.left-line{
		height: 50px;
		width: 10px;
		background-color: black;
	}

	.right-line{
		height: 50px;
		width: 10px;
		background-color: black;
		left: 70px;
		position: absolute;
		top: 10px;
	}

	.bottom-left{
		height: 30px;
		width: 30px;
		background-color: black;
		border-radius: 100%;
		margin-left: -18px;
		margin-top: -8px;
	}

	.bottom-right{
		height: 30px;
		width: 30px;
		background-color: black;
		border-radius: 100%;
		margin-left: 52px;
		margin-top: -30px;		
	}
</style>

<script type="text/javascript">

	var main = function() {

		$('.drakes-head').draggable();

		$('.drakes-head').click(function(){
			var game = true

				$('.game-area').animate({
					left: '-200px'
					}, 2500);
				$('.game-area').width()+('1020px');

		});

	}	

	$(document).ready(main);

</script>