
	<div class="leaderboard">
		
		<h1>Leader Board</h1>

		<div class="user-outline">
			
			<% @users.each do |x| %>			
				<div class="user">
					<div class= "nick-name"><%= x.nick_name %></div><div class="score"> Score: <%= x.score %></div>
				</div>
			<% end %>

		</div>

		<div class="submit"><%= link_to 'Done', "/logout", :style => "text-decoration:none; color:white; font-size:22px; margin-top:12px;" %></div>

		<div class="submit" id="playagain"><%= link_to 'Play Again', "/play", :style => "text-decoration:none; color:white; font-size:22px; margin-top:12px;" %></div>

	</div>

