<audio id="hotlinebling" src="Drake - Hotline Bling (Instrumental) (ReProd. By JDPRODUCTIONS).mp3" autoplay></audio>
<audio id="digitaldash" src="Drake Ft Future - Digital Dash.mp3"></audio>
<audio id="lfmg" src="Drake & Future - Live From The Gutter (Instrumental).mp3"></audio>
<audio id="big-rings" src="Drake ft. Future - Big Rings Instrumental.mp3"></audio>
<audio id="itp" src="Drake & Future - I'm The Plug -INSTRUMENTAL-.mp3"></audio>
<audio id="jumpman" src="Drake & Future - Jumpman (instrumental) (ReProd. by Dj Swish) - WATTBA.mp3"></audio>

<div class="info-bar">
	
	<h1>Dragman</h1>

	<%= link_to 'Help', "/help", :style => "color:white; text-decoration:none; margin-left:795px; margin-top:-50px; position:absolute;" %>


</div>

<div class="game-area-outline">

	<div id="game-area">

		<div class="click-drake">Click Drake To begin ↓</div>
	
		<img class="drakes-head" src="https://upload.wikimedia.org/wikipedia/en/b/b9/Nothing_Was_the_Same_cover_2.png">

		<div class="note-area-outline">		

		<% 80.times do %>	
			<div class="note-area">

				<% random_number_one = rand(1..2) %>
				<% random_number_two = rand(3..4) %>
				<% random_number_three = rand(5..6) %>


				<% if random_number_one == 1 %>

					<div class="music-note" id="one">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% else %>

					<div class="music-note" id="two">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% end %>


				<% if random_number_two == 3 %>

					<div class="music-note" id="three">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% else %>

					<div class="music-note" id="four">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% end %>

				<% if random_number_three == 5 %>

					<div class="music-note" id="five">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% else %>

					<div class="music-note" id="six">			
						<div class="top-line"></div>
						<div class="left-line"></div>
						<div class="right-line"></div>
						<div class="bottom-left"></div>
						<div class="bottom-right"></div>
					</div>

				<% end %>

			</div>
		<% end %>
	
		</div>	

	</div>

</div>
<div class="score-outline">Score:
	<%= form_for @user do |x|%>
		<%= x.number_field :score, :id => "score", :style => "font-size:24px; width:100px; background-color:#00004d; color:white; border:none;" %>
		<div class="game-over"><%= x.submit "Game Over", :style => 'text-decoration:none; color:white; border:none; font-size:134px; background:none; font-family:cursive; position:absolute; cursor:pointer;' %></div>
	<% end %>
</div>

<script type="text/javascript">

	var main = function() {

		var hb = document.getElementById('hotlinebling');
		var dd = document.getElementById('digitaldash');
		var lfmg = document.getElementById('lfmg');
		var br = document.getElementById('big-rings');
		var itp = document.getElementById('itp');
		var jp = document.getElementById('jumpman');

		hb.onended = function(){
			dd.play();
		}

		dd.onended = function(){
			lfmg.play();
		}

		lfmg.onended = function(){
			br.play();
		}

		br.onended = function(){
			itp.play();
		}

		itp.onended = function(){
			jp.play();
		}

		jp.onended = function(){
			hb.play();
		}

		$('.drakes-head').click(function(){

			$('.click-drake').addClass('none');
			$(this).addClass('none');

			var speed = 45000;	
			window.setInterval(
				for(time = 0; time < 15; time ++)

			}, 1000);

			$('#game-area').animate({
				left: '-20000px'
			}, speed);			
	
 			var score = 0;
     		window.setInterval(
     		function countscore() {
     			if($('#game-area').is(':animated')){
         			score = score + 1;
         			document.getElementById("score").value = score;         			
           		}

     		}, 100); 


			$('.music-note').hover(function(){
				$(this).toggle('explode');
				$('#game-area').stop();
				$('.game-over').addClass('unset');
				$('#game-area').fadeTo(1000,0.2);
			});		     		

		});		

	}	

	$(document).ready(main);

</script>