    <audio autoplay loop>
        <source src="Future feat Drake Jumpman Official Audio.mp3" type="audio/mpeg"> 
    </audio>

<div class="container">

	<div class="title">Dragman!</div>

	<%= form_for @user do |x| %>
		<%= x.text_field :nick_name, :placeholder => "Nickname", :class => "nick-name", :style => "height:20px; width:300px; margin-left:250px; margin-top:150px; background-color:#00004d; color:white; font-size:16px;" %>
		<%= x.submit "Play", :class => "btn", :style => "height:70px; width:300px; margin-top:220px; margin-left:-300px; position:absolute; border-radius:5px; font-size:40px; color:white; cursor:pointer;" %>
	<% end %>
</div>

<style type="text/css">
	.container{
		margin: auto;
		height: 600px;
		width: 800px;
		margin-top: 120px;
	}

	.title{
		height: 100px;
		font-size: 70px;
		text-align: center;
	}

	.nick-name{
		border-style: none none solid none;
		border-color:#e60000;
	}

	.btn{
		background-color: #e60000;
		border: solid #e60000;
		box-shadow: 0px 2px 25px black;
	}

	.btn:hover{
		background-color: #ff4d4d;
		border: solid #ff4d4d;
	}

	.btn:active{
		background-color: #800000;
		border: solid #800000;
	}

	.lighter{
		border-color: #ff8080;
	}

</style>

<script type="text/javascript">
	var main = function(){
		$('.nick-name').click(function(){
			$(this).toggleClass('lighter');
		});
	}

	$(document).ready(main);
</script>

