<!DOCTYPE html>
<html>
<head>
  <title>Dragman</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>

<style type="text/css">
	html,body{
		margin: 0;
		padding: 0;
	}

	body{
		background-color: #00004d;
		color: white;
		font-family: cursive;
	}

	input:focus, textarea:focus {
	outline: none;
	}
</style>

<%= yield %>

</body>
</html>
